{% extends 'base.html' %}
{% block content %}
    {% if auth %}
        {% for message in messages %}
            <div class="message-container">
                {% if message.author %}
                    <p class="author">From {{message.author}}</p>
                {% else %}
                    <p class="author">From &lt;ANONYMOUS&gt;</p>
                {% endif %}
                <p>---------------------------------------------------------------------------</p>
                <p>Message:</p>
                <p class="text">{{message.text}}</p>
                <p>---------------------------------------------------------------------------</p>
                <p class="ts">At {{message.created}}</p>
            </div>
        {% endfor %}
    {% else %}
        <form id="login">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
            </div>

            <button class="form-button" id="login" type="submit">Bleh :3</button>
        </form>
    {% endif %}
    {% block scripts %}
        <script src="{{ url_for('static', filename='scripts/all.js') }}"></script>
    {% endblock %}
{% endblock %}
